<div class="formstep">
	<div class="cvbutton">	
		<div class="viewbutton">
			<a href="view.php"><img src="images/<{$lang_name}>/view.gif" width="283" height="30"></a>
		</div>
		<div class="stepbutton">
			<img src="images/<{$lang_name}>/step01_up.gif">
			<a href="step2.php"><img src="images/<{$lang_name}>/step02_down.gif" onmouseover="this.src='images/<{$lang_name}>/step02_up.gif'" onmouseout="this.src = 'images/<{$lang_name}>/step02_down.gif'"></a>
			<a href="step3.php"><img src="images/<{$lang_name}>/step03_down.gif" onmouseover="this.src='images/<{$lang_name}>/step03_up.gif'" onmouseout="this.src = 'images/<{$lang_name}>/step03_down.gif'"></a>
			<a href="step4.php"><img src="images/<{$lang_name}>/step04_down.gif" onmouseover="this.src='images/<{$lang_name}>/step04_up.gif'" onmouseout="this.src = 'images/<{$lang_name}>/step04_down.gif'"></a>
		</div>
	</div>
	<div class="divformstep">
		<table class="formstep">
    		<tr>
    			<td class="formstep">
					<{$cvgen.javascript}>
    				<div class="formtitle"><{$cvgen.title}></div>
    				<form name="<{$cvgen.name}>" action="<{$cvgen.action}>" method="<{$cvgen.method}>"<{$cvgen.extra}> >
        				<table class="formelements">
							<{foreach item=element from=$cvgen.elements}>
            					<tr>
            						<td class="formelementscaption"><{$element.caption}></td>
            						<td class="formelementsbody"><{$element.body}></td>
            					</tr>
							<{/foreach}>
    			    	</table>
        			</form>
        		</td>
        	</tr>
    	</table><br>
    </div>
</div>